.soft-skills {
  margin-bottom: 120px;

  @include mobile {
    margin-bottom: 64px;
  }

  &__container {
    @include container;
    width: fit-content;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    padding: 24px;
    text-align: center;
    transition: all 0.3s ease;
  }

  &__num {
    @include mono;
    font-size: 0.68rem;
    color: $color-gray;
    display: block;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 0.92rem;
    color: $color-white;
  }
}
